.index-list > li > a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

li {
    list-style-type: none;
}

body {
    font-family: cursive, sans-serif;
}

button {
    margin: 4px;
}

.parent, .child, .inner-child {
    margin: 16px;
    padding: 16px;
    border: 1px solid #ffc107;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.parent {
    background-color: #673ab7;
}

.child {
    background-color: #448aff;
}

.inner-child {
    background-color: #009688;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

/* task 3 ===TAGS===*/
.tags {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.tags  .tags__btn {
    padding: 4px 10px 4px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #212121;
    display: inline-block;
    text-align: center;
    white-space: nowrap
}

.active-btn {
    background-color: rgb(83, 83, 241);
}


/* ===COLORPICKER=== */
.pallete {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 12px;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}
.color-swatch {
    height: 128px;
    cursor: pointer;
    
}

.color-card.is-active {
    transform: perspective(400px) rotateX(10deg);
}
.color-meta {
    padding: 10px;
    font-weight: 700;
}
.color-meta p {
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.1em;
}

/* ===LAZY LOAD IMG=== */
.feed {
    list-style: none;
}
.feed li:not(:last-child) {
    margin-bottom: 32px;
}

.feed img {
    transform: translate(-50%);
    opacity: 0;
    transition: all 900ms linear 500ms;
    width: 640px;
    height: 480px;
    object-fit: cover;
}
.feed img.appear {
    transform: translateX(0);
    opacity: 1;
}